* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header {
    text-align: center;
    color: #eec9cf;
    font-size: 26px;
    padding: 20px;
    margin: 0px;
    box-shadow: 6px 6px 6px #0e1d2f;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    
}

.container {
    text-align: center;
    padding: 20px;
    background-image: url('https://t.ctcdn.com.br/mNCh2qfq1CaHSbvGLeo6ftm3Img=/1400x788/smart/filters:format(webp)/i445265.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    image-orientation: flip;
}

.page-title {
    color: #8E5D52;
    margin: 5px 0;
}

#bttDraw {
    border-radius: 15px;
    border: none;
    background-color: #2F2325;
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    color: #8E5D52;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

#bttDraw:hover {
    border: none;
    background: #8E5D52;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8E5D52,
              0 0 25px #8E5D52,
              0 0 50px #8E5D52,
              0 0 100px #8E5D52;
}

#btnPlay  {
    border-radius: 15px;
    border: none;
    background-color: #2F2325;
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    color: #8E5D52;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

#btnPlay:hover {
    border: none;
    background: #8E5D52;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8E5D52,
              0 0 25px #8E5D52,
              0 0 50px #8E5D52,
              0 0 100px #8E5D52;
}

#btnNextRound {
    border-radius: 15px;
    border: none;
    background-color: #2F2325;
    padding: 20px 30px;
    color: #8E5D52;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

#btnNextRound:hover {
    border: none;
    background: #8E5D52;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8E5D52,
              0 0 25px #8E5D52,
              0 0 50px #8E5D52,
              0 0 100px #8E5D52;
}

h1 {
    color:#2F2325;
    text-align: center;
    padding: 20px;

}

h2 {
    color:#8E5D52;
    padding-top: 15px;
    padding-bottom: 15px;
}

#player-card, #pc-card {
    width: 360px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 345px 300px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 5px;
    border-radius: 33px;
}

#player-card h3 {
    text-align: center;
}

.imagem-card {
    border: 1px solid black;
    height: 90px;
    margin: 10px;
}

.imagem-card img {
    width: 100%;
    height: 100%;
}

.statusClass {
    height: 170px;
    margin: 2rem;
    color: white;
    z-index: 2;
}

.statusClass input {
    margin: 20px 10px;
}

.statusClass p {
    margin-bottom: 2rem;
}

.finalResult {
    color: #8E5D52;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 1rem;
    border: 2px solid black;
    background-color: black;
}

.--spacing {
    margin-left: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.card-subtitle {
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 37px;
    font-weight: 800;
    text-transform: uppercase;
}

span.pc-card {
    display: block;
    margin: 10px; 
} 

#cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#scoreboard, #card-amount {
    color: #2F2325;
    padding: 15px;
    font-size: 20px;
}
